html,
body {
  margin: 0;
  padding: 0;
  background: #1a237e;
  color: white;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

button:disabled {
  display: none;
}

header {
  display: flex;
  background: #000051;
  align-items: center;
  padding: 0 15px;
}
#logAdmin {
  margin-left: 5px;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #534bae;
  padding: 30px 15px;
}

input {
  color: white;
  background: #534bae;
  border: 1px solid white;
  padding: 5px;
  margin-left: 30px;
}

#sendName {
  background: white;
  color: #000051;
  border: 1px solid white;
  border-radius: 0;
  padding: 5px 15px;
}

#buzzer {
  background: transparent;
  border: none;
  background: url(./burger.svg);
  background-size: 100% 100%;
  width: 250px;
  height: 250px;
  font-size: 70px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

big {
  display: block;
  font-size: 60px;
  font-weight: bold;
}

#yourId {
  font-size: 11px;
  flex: 1 1 auto;
  text-align: right;
}

footer strong {
  font-size: 18px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
footer ul li {
  display: block;
  padding: 3px 3px 3px 7px;
  border-radius: 3000px;
  background: rgba(255, 255, 255, 0.3);
  line-height: 1;
  font-weight: bold;
  font-size: 13px;
  margin: 3px;
}

li span {
  display: inline-block;
  background: #c62828;
  border-radius: 1000px;
  padding: 3px 5px;
  font-size: 12px;
  margin-left: 3px;
  font-weight: bold;
}
li span.success-counter {
  background: #4caf50;
  color: black;
}
#create-room {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  background: #4caf50;
  font-size: 32px;
  width: 46px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: none;
  border-radius: 2000px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay:not(.active) {
  display: none;
}
.dialog {
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  color: black;
  max-width: 95vw;
}
.error-message {
  background: #c62828;
  font-weight: bold;
  padding: 15px 7px;
  margin: 0;
  color: white;
}
.hide {
  display: none;
}
#roomlist > a {
  display: block;
  background: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.7);
  color: #333;
  text-decoration: none;
  margin: 5px;
}
#roomlist .room-title {
  font-size: 20px;
  text-transform: uppercase;
  display: block;
}
@media (max-width: 560px) {
  header {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  input {
    order: 4;
    flex: 1 1 auto;
    margin-left: 0;
  }

  header button {
    order: 5;
  }
  #logAdmin {
    order: 3;
  }
}
