html,
body {
  margin: 0;
  padding: 0;
  background: #1a237e;
  color: white;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

button:disabled {
  display: none;
}

header {
  display: flex;
  background: #000051;
  align-items: center;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #534bae;
  padding: 30px 15px;
}

input {
  color: white;
  background: #534bae;
  border: 1px solid white;
  padding: 5px;
  margin-left: 30px;
}

#sendName {
  background: white;
  color: #000051;
  border: 1px solid white;
  border-radius: 0;
  padding: 5px 15px;
}

#buzzer {
  background: transparent;
  border: none;
  background: url(./burger.svg);
  background-size: 100% 100%;
  width: 250px;
  height: 250px;
  font-size: 70px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

big {
  display: block;
  font-size: 60px;
  font-weight: bold;
}

#yourId {
  font-size: 11px;
  flex: 1 1 auto;
  text-align: right;
}

footer strong {
  font-size: 18px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
footer ul li {
  display: block;
  padding: 3px 3px 3px 7px;
  border-radius: 3000px;
  background: rgba(255, 255, 255, 0.3);
  line-height: 1;
  font-weight: bold;
  font-size: 13px;
  margin: 3px;
}

li span {
  display: inline-block;
  background: #c62828;
  border-radius: 1000px;
  padding: 3px 5px;
  font-size: 12px;
  margin-left: 3px;
  font-weight: bold;
}
li span.success-counter {
  background: #4caf50;
  color: black;
}

@media (max-width: 560px) {
  header {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  input {
    order: 3;
    flex: 1 1 auto;
    margin-left: 0;
  }

  header button {
    order: 4;
  }
}
